<div class="piece">
    <div class="piece-attach piece-attach-right-top"></div>
    <div class="piece-attach piece-attach-right-bottom"></div>

   
    <div class="piece-form">
        <div class="piece-form-title">Objectif pédagogique</div>
        <div class="piece-form-objective">
            <label for="objective">Commun pour la mission 1</label>
            <textarea name="objective" placeholder="- Améliorer les softskills"></textarea>
        </div>
        <div class="piece-form-footer">Sorbonne Université, LIP6 - IMT Nord Europe</div>
    </div>
</div>
