<div class="piece" (mouseover)="displayMenu='show'" (mouseleave)="displayMenu='hide'">
    <div class="piece-attach piece-attach-right-top"></div>
    <div class="piece-attach piece-attach-right-bottom"></div>

    <div class="piece-menu" [class]="displayMenu">
        <mat-icon fontIcon="backspace" (click)="onClickErase()"></mat-icon>
        <mat-icon fontIcon="more_vert" (click)="onClickDots()"></mat-icon>
    </div>
   
    <div class="piece-form">
        <div class="piece-form-title">Objectif pédagogique</div>
        <div class="piece-form-objective">
            <label for="objective">Commun pour le jeu</label>
            <textarea name="objective" placeholder="- Améliorer les softskills&#10;- Apprendre à coopérer"></textarea>
        </div>
        <div class="piece-form-footer">Sorbonne Université, LIP6 - IMT Nord Europe</div>
    </div>
</div>
