<div class="piece">
    <div class="piece-attach piece-attach-left"></div>
    <div class="piece-attach piece-attach-right"></div>

    <div class="piece-form">
        <div class="piece-form-top">
            <input class="piece-form-top-identifier" name="identifier" type="text" placeholder="A" min="1" maxlength="5"/>
            <div class="piece-form-top-title">Tâche</div>
            <div class="piece-form-top-symbol"></div>
        </div>
        <textarea class="piece-form-content" placeholder="Acheter des citrons"></textarea>
        <div class="piece-form-bottom">
            <select class="piece-form-bottom-antecedent" name="antecedent" multiple>
                <option selected value="0">/</option>
                <option value="1">1</option> 
            </select>
            <div class="piece-form-bottom-duration">
                <input name="value" type="text" value="1"/>
                <select name="unite">
                    <option selected value="UT">UT</option>
                    <option value="min">min</option>
                    <option value="tours">tours</option> 
                </select>
            </div>
        </div>

    </div>
</div>
