.piece {
    --piece-background-color: #b9dfe3;

    width: 400px;
    height: 400px;
    position: relative;
    background-color: var(--piece-background-color);
    transition: all 0.5s ease;

    &-menu {
        position: absolute;
        width: 150px;
        height: 50px;
        background-color: #f7f7f7;
        opacity: 0.75;
        z-index: -1;
        top: -51px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 0.5s ease;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid black 1px;
        display: flex;
        padding: 15px 20px 15px 20px;
        justify-content: space-around;
        mat-icon {
            cursor: pointer;
            transform: scale(1.1);
        }
        mat-icon:hover {
            opacity: 0.75;
        }
    }
    &-menu.show {
        transform: translateX(-50%) translateY(0);
    }
    &-menu.hide {
        transform: translateX(-50%) translateY(100%);
    }

    &-attach {
        z-index: 1;
        &-left {
            border-top: solid black 1px;
            border-right: solid black 1px;
            width: 40px;
            height: 40px;
            background-color: var(--piece-background-color);
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            right: -20px;
            top: 200px;
        }

        &-right {
            border-top: solid black 1px;
            border-right: solid black 1px;
            width: 40px;
            height: 40px;
            background-color: var(--background-color);
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            left: -20px;
            top: 200px;
        }
    }

    &-form {
        height: 100%;
        padding: 0px 10px 0px 35px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        z-index: 2;
        input {
            height: 40px;
            border-radius: 10px;
            border: none;
            padding: 5px 10px 5px 10px;
        }
        textarea {
            border-radius: 20px;
            padding: 10px;
            border: none;
            resize: none;
            flex-grow: 1;
        }
        select {
            background-color: white;
            border: none;
            height: 50px;
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
        }
        &-top {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-identifier {
                width: 50px;
                text-align: center;
            }
            &-title {
                font-size: 25px;
                font-weight: bold;
            }
            &-symbol {
                width: 50px;
                height: 40px;
                background-color: white;
                border-radius: 10px;
                padding: 5px 10px 5px 10px;
            }
        }
        &-content {
            margin-top: 10px;
            height: 100%;
            margin-bottom: 10px;
        }
        &-bottom {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
            &-duration {
                input {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    width: 20px;
                    text-align: center;
                    z-index: 2;
                }
                select {
                    width: 60px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    z-index: 1;
                }
            }
        }
    }
}

.piece::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
}