<div class="piece"
matTooltip="Permet de rajouter des commentaires sur une tuile"
matTooltipPosition="before" [matTooltipDisabled]="!tooltipService.activatedTooltips">
    <div class="piece-form">
        <div class="piece-form-title">Commentaires</div>

        <div class="piece-form-comments">
            <app-comment *ngFor="let comment of piece.comments, let i = index" [comment]="comment" [comments]="piece.comments" [index]="i" [scenario]="scenario"></app-comment>
        </div>

        <div class="piece-form-newcomment">
            <div class="piece-form-newcomment-form">
                <label>Nouveau commentaire</label>
                <textarea [(ngModel)]="newComment" (change)="editTrace($event,'newComment')"></textarea>
            </div>
            <button mat-button (click)="addComment()">Ajouter un commentaire</button>
        </div>

    </div>
</div>