<div class="piece"
[matTooltip]="translate.instant('comments_tooltip')"
matTooltipPosition="before" [matTooltipDisabled]="!tooltipService.activatedTooltips">
    <div class="piece-form">
        <div class="piece-form-title">{{'comments_title' | translate}}</div>

        <div class="piece-form-comments">
            <app-comment *ngFor="let comment of piece.comments, let i = index" [comment]="comment" [comments]="piece.comments" [index]="i" [scenario]="scenario"></app-comment>
        </div>

        <div class="piece-form-newcomment">
            <div class="piece-form-newcomment-form">
                <label>{{'comments_newComment' | translate}}</label>
                <textarea [(ngModel)]="newComment" (change)="editTrace($event,'newComment')"></textarea>
            </div>
            <button mat-button (click)="addComment()">{{'comments_button_newComment' | translate}}</button>
        </div>

    </div>
</div>