<div class="form">
    <div class="form-comment">
        <textarea [disabled]="true">Mon commentaire</textarea>
        <div class="form-comment-buttons">
            <button mat-button>Modifier</button>
            <button mat-button>Supprimer</button>
        </div>  
    </div>

    <div class="form-answers">
        <textarea [disabled]="true">Une réponse</textarea>
        <div class="form-comment-buttons">
            <button mat-button>Modifier</button>
            <button mat-button>Supprimer</button>
        </div>  
    </div>
    
    <div class="form-newanswer">
        <textarea></textarea>
        <div class="form-newanswer-buttons">
           <button mat-button>Répondre</button> 
        </div>
        
    </div>
</div>