.piece {
    --piece-background-color: #e5c5ac;

    width: 300px;
    position: relative;
    background-color: var(--piece-background-color);
    border: solid #707070 1px;
    border-radius: 6px;

    &-title {
        font-family: 'Glacial Indifference Bold';
        margin-bottom: 10px;
    }

    &-form {
        margin: 10px 5px 10px 5px;
        display: flex;
        flex-direction: column;

        input {
            width: 25px;
            height: 20px;
            border: none;
            border-radius: 10px;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          appearance: none;
          margin: 0;
        }

        @-moz-document url-prefix() {
            input[type=number] {
              -moz-appearance: textfield;
            }
          }

        button {
            background-color: white;
            border-radius: 10px;
        }

        &-add {
            margin-top: 10px;
        }

        &-occurrence {
            display: flex;
            flex: row;
            justify-content: space-between;
            margin-top: 5px;

            &-text {
                display: flex;
                flex-direction: row;
            }
        }
    }
}