<div class="piece">
    <div class="piece-form">
        <div class="piece-title">Occurrence du rôle</div>
        <div class="piece-form-occurrence">
            <div class="piece-form-occurrence-text">
                <input type="text"/>
                <label> entre </label>
                <input type="text"/>
                <label> et </label>
                <input type="text"/>
                <label> joueurs</label>  
            </div>
            <button mat-button><mat-icon fontIcon="remove"></mat-icon></button>
        </div>
        <div class="piece-form-occurrence">
            <div class="piece-form-occurrence-text">
                <input type="text"/>
                <label> entre </label>
                <input type="text"/>
                <label> et </label>
                <input type="text"/>
                <label> joueurs</label>  
            </div>
            <button mat-button><mat-icon fontIcon="remove"></mat-icon></button>
        </div>
        <button mat-button class="piece-form-add"><mat-icon fontIcon="add"></mat-icon></button>
    </div>
</div>