.container {

    display: flex;
    flex-direction: row;

    &-main {
        position: absolute;
        height: 100%;
        width: calc(100% - 322px);
        left: 0;
        right: 5px;
        top: 0px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &-scenario {
            position: relative;
            transform-origin: top left;
            padding: 60px 5px 10px 5px;
            margin-right: 7px;
        }
    }

    &-main::-webkit-scrollbar {
        display: none;
    }

    &-sider {
        height: 100%;
        width: 320px;
        background-color: #e3e3e3;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        border-left: solid black 3px;
        align-items: center;
        overflow: scroll;
        box-shadow: -20px 0px 25px rgba(0, 0, 0, 0.3);

        &-element {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}