<div class="piece" (mouseover)="displayMenu='show'" (mouseleave)="displayMenu='hide'">
    <div class="piece-attach piece-attach-left-top"></div>
    <div class="piece-attach piece-attach-right"></div>
    <div class="piece-attach piece-attach-left-bottom"></div>

    <div class="piece-menu" [class]="displayMenu">
        <mat-icon fontIcon="mode_comment" (click)="onClickComments()"></mat-icon>
        <mat-icon fontIcon="add" (click)="onClickAdd()"></mat-icon>
        <mat-icon fontIcon="backspace" (click)="onClickErase()"></mat-icon>
    </div>

    <div class="piece-form">
        <div class="piece-form-title">Rôle 1</div>
        <div class="piece-form-intitule">
            <label for="intitule">Intitulé</label>
            <input name="intitule" type="text" placeholder="Organisateur de goûters d'anniversaire"/>   
        </div>
        <div class="piece-form-name">
            <label for="name">Nom de le quête</label>
            <input name="name" type="text" placeholder="Fête d'anniversaire"/>   
        </div>
        <div class="piece-form-objective">
            <label for="objective">Objectif(s) pédagoqique(s)</label>
            <textarea name="objective" placeholder="- Savoir préparer une fête"></textarea>  
        </div>
        <div class="piece-form-reward">
            <label for="reward">Récompenses</label>
            <textarea name="reward" placeholder="- Gagner en compétence en événementiel"></textarea>  
        </div> 
    </div>
</div>
