<div class="piece">
    <div class="piece-attach piece-attach-right-top"></div>
    <div class="piece-attach piece-attach-right-bottom"></div>
    
    <div class="piece-form">
        <div class="piece-form-title">Contexte du jeu</div>
        <div class="piece-form-universe">
            <label for="univers">Univers</label>
            <input name="univers" type="text" placeholder="Réaliste"/>   
        </div>
        <div class="piece-form-support">
            <label for="support">Medium / Support(s)</label>
            <input name="support" type="text" placeholder="Ordinateur en 3D"/>   
        </div>
        <div class="piece-form-duration">
            <label for="duration">Durée</label>
            <input name="duration" type="text" placeholder="3h"/>   
        </div>
        <div class="piece-form-intrigue">
            <label for="intrigue">Intrigue</label>
            <textarea name="intrigue" placeholder="Vous habitez et travaillez dans un village et devez réussir à le faire vivre et prospérer. Si vous échouez, un riche promoteur risque de raser le village pour en faire un aéroport"></textarea>  
        </div>
        <div class="piece-form-other">
            <label for="other">Autre</label>
            <textarea name="other" placeholder="Test"></textarea>  
        </div> 
    </div>

</div>
