.piece {
    --piece-background-color: #b6cc87; 

    width: 400px;
    height: 800px;
    position: relative;
    background-color: var(--piece-background-color);

    &-attach {
        z-index: 1;
        border-right: solid black 1px;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        &-right {
            &-top {
                position: absolute;
                width: 20px;
                height: 60px;
                background-color: var(--piece-background-color);
                top: 25%;
                right: -20px;
                transform: translateY(-50%);  
            }

            &-bottom {
                position: absolute;
                width: 20px;
                height: 60px;
                background-color: var(--piece-background-color);
                bottom: 25%;
                right: -20px;
                transform: translateY(+50%);  
            }

        }
    
    }

    &-form {
        height: 100%;
        padding: 0px 10px 0px 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        z-index: 2;
        label {
            font-size: 20px;
            font-weight: lighter;
            margin-top: 10px;
            margin-bottom: 5px;
        }  
        input {
            height: 40px;
            border-radius: 10px;
            border: none;
            padding: 5px 10px 5px 10px;
        }
        textarea {
            border-radius: 20px;
            padding: 10px;
            border: none;
            resize: none;
            flex-grow: 1;
        }
        &-title {
            margin-top: 20px;
            font-size: 25px;
            font-weight: bold;
        }
        &-universe {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        &-support {
            display: flex;
            flex-direction: column;
        }
        &-duration {
            display: flex;
            flex-direction: column;
        }
        &-intrigue{
            height: 40%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
        &-other {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            height: 40%;
        }
    }

}
.piece::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
}