.piece {
    --piece-background-color: #eac19b; 

    width: 400px;
    height: 800px;
    position: relative;
    background-color: var(--piece-background-color);

    &-menu {
        position: absolute;
        width: 150px;
        height: 50px;
        background-color: #f7f7f7;
        z-index: -1;
        top: -51px;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 0.5s ease;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: solid black 1px;
        display: flex;
        padding: 15px 20px 15px 20px;
        justify-content: space-around;
        mat-icon {
            cursor: pointer;
            transform: scale(1.1);
        }
        mat-icon:hover {
            opacity: 0.75;
        }
    }
    &-menu.show {
        transform: translateX(-50%) translateY(0);
    }
    &-menu.hide {
        transform: translateX(-50%) translateY(100%);
    }

    &-attach {
        z-index: 1;
        border-top: solid black 1px;
        border-right: solid black 1px;
        border-bottom: solid black 1px;
        &-right {
            position: absolute;
            width: 20px;
            height: 60px;
            background-color: var(--piece-background-color);
            top: 25%;
            right: -20px;
            transform: translateY(-50%);
        }
        &-left {
            &-top {
                position: absolute;
                width: 20px;
                height: 60px;
                background-color: var(--background-color);
                top: 25%;
                left: -0px;
                transform: translateY(-50%);
            }
            &-bottom {
                position: absolute;
                width: 20px;
                height: 60px;
                background-color: var(--background-color);
                top: 75%;
                left: 0px;
                transform: translateY(-50%);
            }
        }
    }

    &-form {
        height: 100%;
        padding: 0px 10px 0px 35px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        z-index: 2;
        label {
            font-size: 20px;
            font-weight: lighter;
            margin-top: 10px;
            margin-bottom: 5px;
        }  
        input {
            height: 40px;
            border-radius: 10px;
            border: none;
            padding: 5px 10px 5px 10px;
            font-size: 15px;
        }
        textarea {
            border-radius: 20px;
            padding: 10px;
            border: none;
            resize: none;
            flex-grow: 1;
            font-size: 15px;
        }
        &-title {
            margin-top: 20px;
            font-size: 25px;
            //font-weight: bold;
            font-family: 'Glacial Indifference Bold';
        }
        &-duration {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        &-intrigue{
            height: 55%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
        &-other {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            height: 30%;
        }
    }
}

.piece::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
}