<div class="piece" (mouseover)="displayMenu='show'" (mouseleave)="displayMenu='hide'">
    <div class="piece-attach piece-attach-left-top"></div>
    <div class="piece-attach piece-attach-right"></div>
    <div class="piece-attach piece-attach-left-bottom"></div>

    <div class="piece-menu" [class]="displayMenu">
        <mat-icon fontIcon="mode_comment" (click)="onClickComments()"></mat-icon>
        <mat-icon fontIcon="add" (click)="onClickAdd()"></mat-icon>
        <mat-icon fontIcon="backspace" (click)="onClickErase()"></mat-icon>
    </div>

    <div class="piece-form">
        <div class="piece-form-title">Contexte de la mission 1</div>
        <div class="piece-form-duration">
            <label for="duration">Durée</label>
            <input name="duration" type="text" placeholder="1h"/>   
        </div>
        <div class="piece-form-intrigue">
            <label for="intrigue">Intrigue</label>
            <textarea name="intrigue" placeholder="Concevez un site web ergonomique pour votre premier client"></textarea>  
        </div>
        <div class="piece-form-other">
            <label for="other">Autre</label>
            <textarea name="other"></textarea>  
        </div> 
    </div>
</div>
