<h1 mat-dialog-title>{{'legal_label' | translate}}</h1>
<mat-dialog-content>
    <div class="element">
        <h3>{{'legals_publicationDirector_title' | translate}}</h3>
        <p>{{'legals_publicationDirector_content' | translate}}</p>        
    </div>
    <div class="element">
        <h3>{{'legals_webManager_title' | translate}}</h3>
        <p>{{'legals_webManager_content' | translate}}</p>        
    </div>
    <div class="element">
        <h3>{{'legals_editor_title' | translate}}</h3>
        <p>{{'legals_editor_content' | translate}}</p>        
    </div>
    <div class="element">
        <h3>{{'legals_host_title' | translate}}</h3>
        <p>{{'legals_host_content' | translate}}</p>
    </div>
    <div class="element">
        <h3>{{"legals_dysfunction_title" | translate}}</h3>
        <p>{{"legals_dysfunction_content" | translate}}</p>
    </div>
    <div class="element">
        <h3>{{"legals_credits_title" | translate}}</h3>
        <p>{{"legals_credits_content1" | translate}}</p>
        <div class="projectImages">
            <img src="./assets/credits/logoNucleofil.png"/>
            <img src="./assets/credits/gvtRelance.png"/>
        </div>
        <p>{{"legals_credits_content2" | translate}}</p>
        <div class="collabsImages">
            <img src="./assets/credits/sorbonne_universite.png"/>
            <img src="./assets/credits/LIP6.png"/>
            <img src="./assets/credits/IMT_Nord_Europe.jpg"/>
        </div>
    </div>
    <div class="element">
        <h3>{{"legals_cookies_title" | translate}}</h3>
        <p>{{"legals_cookies_content" | translate}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'legals_close' | translate}}</button>
</mat-dialog-actions>

