<div class="piece">
    <div class="piece-form">
        <div class="piece-form-rules">
            <div class="piece-form-title">Règles du jeu</div>  
            <textarea></textarea>
        </div>
        <div class="piece-form-ressources">
            <div class="piece-form-title">Ressources / objets</div>
            <div class="piece-form-ressources-object">
                <div class="piece-form-ressources-object-infos">
                    <div class="piece-form-ressources-object-infos-name">
                        <label for="name">Nom</label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="piece-form-ressources-object-infos-quantity">
                        <label for="quantity">Quantité</label>
                        <input name="quantity" type="text"/>
                    </div>                  
                </div>

                <div class="piece-form-ressources-object-infos">
                    <div class="piece-form-ressources-object-infos-name">
                        <label for="name">Nom</label>
                        <input name="name" type="text"/>
                    </div>
                    <div class="piece-form-ressources-object-infos-quantity">
                        <label for="quantity">Quantité</label>
                        <input name="quantity" type="text"/>
                    </div>                  
                </div>

                <button mat-button><mat-icon fontIcon="add"></mat-icon></button>
            </div>
        </div>
        <div class="piece-form-validate">
            <button mat-button>Valider</button>
        </div>

    </div>
</div>