<div class="piece" [ngStyle]="{'width': pieceWidth}" (mouseover)="displayMenu='show'" (mouseleave)="displayMenu='hide'" (click)="onClickPiece()">
    <div class="piece-attach piece-attach-right"></div>
    <div class="piece-attach piece-attach-left"></div>

    <div class="piece-menu" [class]="displayMenu">
        <mat-icon fontIcon="arrow_back_ios" (click)="moveStep('left')" *ngIf="index > 0"
        matTooltip="Décaler la tuile vers la gauche."
        matTooltipPosition="above" [matTooltipDisabled]="!tooltipService.activatedTooltips"></mat-icon>
        <mat-icon fontIcon="backspace" (click)="onClickErase()"
        matTooltip="Effacer le contenu de cette tuile."
        matTooltipPosition="above" [matTooltipDisabled]="!tooltipService.activatedTooltips"></mat-icon>
        <mat-icon fontIcon="delete" (click)="onClickDelete()"
        matTooltip="Supprimer la tuile."
        matTooltipPosition="above" [matTooltipDisabled]="!tooltipService.activatedTooltips"></mat-icon>
        <mat-icon fontIcon="arrow_forward_ios" (click)="moveStep('right')"
        matTooltip="Décaler la tuile vers la droite."
        matTooltipPosition="above" [matTooltipDisabled]="!tooltipService.activatedTooltips"></mat-icon>
    </div>

    <div class="piece-form">
        <div class="piece-form-title">Étape 1</div>
        <mat-icon class="piece-form-comment" fontIcon="comment" *ngIf="step.comments.length > 0"></mat-icon>
        <textarea [(ngModel)]="step.description"></textarea>
        <div class="piece-form-duration">
            <label for="duration">Durée</label>
            <input name="duration" type="number" [(ngModel)]="step.duration" (input)="durationChange()"/>
            <select name="duration" [(ngModel)]="step.durationUnit" (change)="durationChange()">
                <option value="UT">UT</option>
                <option value="min">min</option>
                <option value="tours">tours</option>
            </select>
        </div>
    </div>
</div>