<div class="piece" [ngStyle]="{'width': pieceWidth}" (mouseover)="displayMenu='show'" (mouseleave)="displayMenu='hide'">
    <div class="piece-attach piece-attach-right"></div>
    <div class="piece-attach piece-attach-left"></div>

    <div class="piece-menu" [class]="displayMenu">
        <mat-icon fontIcon="backspace" (click)="onClickErase()"></mat-icon>
        <mat-icon fontIcon="delete" (click)="onClickDelete()"></mat-icon>
        <mat-icon fontIcon="more_vert" (click)="onClickDots()"></mat-icon>
    </div>

    <div class="piece-form">
        <div class="piece-form-title">Étape 1</div>
        <textarea [(ngModel)]="step.description"></textarea>
        <div class="piece-form-duration">
            <label for="duration">Durée</label>
            <input name="duration" type="text" [(ngModel)]="step.duration" (input)="durationChange()"/>
            <select name="duration" [(ngModel)]="step.durationUnit" (change)="durationChange()">
                <option value="UT">UT</option>
                <option value="min">min</option>
                <option value="tours">tours</option>
            </select>
        </div>
    </div>
</div>