<div class="piece"
matTooltip="Une tâche peut être interrompue par un autre rôle, ceci est plutôt utilisé dans les compétitifs"
matTooltipPosition="before" [matTooltipDisabled]="!tooltipService.activatedTooltips">
    <div class="piece-form">
        <div class="piece-form-header">
            <mat-icon fontIcon="front_hand"></mat-icon>
            <div class="piece-form-header-label">
                <label>Interruption de la tâche</label>
            </div>
        </div>
        <div class="piece-form-textarea">
            <textarea [(ngModel)]="task.interrupt"></textarea>
        </div>    
    </div>
</div>