<div class="piece"
[matTooltip]="translate.instant('interruption_tooltip')"
matTooltipPosition="before" [matTooltipDisabled]="!tooltipService.activatedTooltips">
    <div class="piece-form">
        <div class="piece-form-header">
            <mat-icon fontIcon="front_hand"></mat-icon>
            <div class="piece-form-header-label">
                <label>{{'interruption_title' | translate}}</label>
            </div>
        </div>
        <div class="piece-form-textarea">
            <textarea [(ngModel)]="task.interrupt" (change)="editTrace($event,'interrupt')"></textarea>
        </div>    
    </div>
</div>