<div class="piece"
matTooltip="Une tâche peut-être répétée un certain nombre de fois avant d'être résolue"
matTooltipPosition="before" [matTooltipDisabled]="!tooltipService.activatedTooltips">
    <div class="piece-form">
        <div class="piece-form-header">
            <mat-icon fontIcon="refresh"></mat-icon>
            <div class="piece-form-header-for">
                <label>Répéter</label>
                <input type="text" [(ngModel)]="task.repeat.iteration" (change)="editTrace($event,'repeat_nbTimes')"/>
                <label>fois</label>
            </div>
        </div>
        <div class="piece-form-while">
            <label>ou jusqu'à ce que :</label>
            <textarea [(ngModel)]="task.repeat.while" (change)="editTrace($event,'repeat_stopCondition')"></textarea>
        </div>    
    </div>
</div>