<div class="piece">
    <div class="piece-form">
        <div class="piece-form-header">
            <mat-icon fontIcon="refresh"></mat-icon>
            <div class="piece-form-header-for">
                <label>Répéter</label>
                <input type="text" [(ngModel)]="task.repeat.iteration"/>
                <label>fois</label>
            </div>
        </div>
        <div class="piece-form-while">
            <label>ou jusqu'à ce que :</label>
            <textarea [(ngModel)]="task.repeat.while"></textarea>
        </div>    
    </div>
</div>